.filter-select {
  border-radius: 0.25rem;
  width: 100% !important;
  margin-top: 0.625rem;
  & .dropdown-toggle {
    border: none;
    font-size: 0.875rem;
    background-color: $element-bg-light;
    color: $dark-grey;
    .filter-option-inner-inner {
      font-weight: 600;
      color: $dark-grey;
    }
  }
  .dropdown-menu {
    background-color: $element-bg-light;
    border: none;
    font-size: 0.875rem;
    margin-top: 0.3125rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.18);
    .dropdown-item {
      padding-top: 0.3125rem;
      color: $dark-grey;

      &.active,
      &:active {
        background-color: $dark-grey;
        color: $light-grey;
      }
    }
  }
}

.dark-mode {
  .filter-select {
    & .dropdown-toggle {
      background-color: $element-bg-dark;
      color: $light-grey;
      .filter-option-inner-inner {
        color: $light-grey;
      }
    }
    .dropdown-menu {
      background-color: $element-bg-dark;

      .dropdown-item {
        padding-top: 0.3125rem;
        color: $light-grey;

        &.active,
        &:active {
          background-color: $light-grey;
          color: $dark-grey;
        }
        &:hover,
        &:focus {
          color: $dark-grey;
        }
      }
    }
  }
}
